@{
  Layout = "_Layout";
}
<div class="container">
  <form action="/animals" method="post">
    <div class="form-group">
      <label for="type">What kind of Animal?</label>
      <select id="type" name="type" class="form-control">
        <option>Dog</option>
        <option>Cat</option>
        <option>Fish</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Animal's Name?</label>
      <input id="name" name="name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="desc">Animal Description?</label>
      <input id="desc" name="desc" type="text" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
